.soal-nav-wrapper {
    display: none;
    position: absolute;
    bottom: 60px;
    right: 0;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    max-height: 300px;
    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 tombol per baris */
    gap: 5px;
    width: 180px; /* sesuaikan */
}

.soal-nav-wrapper.show {
    display: grid;
}

.soal-nav {
    width: 100%;  /* penuh di dalam 1 kolom grid */
    height: 40px;
    text-align: center;
    padding: 0;
    font-size: 14px;
}
